<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Style.css -->
    <link rel="stylesheet" href="../public/stylesheets/style.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f8b439a839.js" crossorigin="anonymous"></script>

    <title>Hello, world!</title>

    <style>
      a {
        color: rgba(0,0,0,0.7);
      }
    </style>
  </head>

  <body>
    <div class="container-fluid" style="margin-top: 1%">
        <ul class="nav nav-tabs justify-content-center" style="text-align: center">
          <li class="nav-item">
            <a class="nav-link" href="/users">Cadastro de usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Cadastro de produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/class">Cadastro de aulas</a>
          </li>
        </ul>
    </div>
    
    <div class="container"> 
      <div class="row">
        <div class="col-md-12" style="margin-top: 2%">
          <h3 style="text-align: center">Cadastro de Aulas</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top: 2%">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Produto:</th>
                <th>Quantidade:</th>
                <th>Descrição:</th>
                <th>RG:</th>
                <th>CPF:</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mateus</td>
                <td>20</td>
                <td>(71) 99137-6458</td>
                <td>20.158.119-56</td>
                <td>863.245.468-05</td>
                <th><a href="/users/edit"><i class="far fa-edit" style="color: darkcyan"></i></a></th>
                <th><a href=""><i class="far fa-trash-alt"></i></a></th>
              </tr>
              <tr>
                <td>1</td>
                <td>Mateus</td>
                <td>20</td>
                <td>(71) 99137-6458</td>
                <td>20.158.119-56</td>
                <td>863.245.468-05</td>
                <th><a href=""><i class="far fa-edit" style="color: darkcyan"></i></a></th>
                <th><a href=""><i class="far fa-trash-alt" ></i></a></th>
              </tr>
              <tr>
                <td>1</td>
                <td>Mateus</td>
                <td>20</td>
                <td>(71) 99137-6458</td>
                <td>20.158.119-56</td>
                <td>863.245.468-05</td>
                <th><a href=""><i class="far fa-edit" style="color: darkcyan"></i></a></th>
                <th><a href=""><i class="far fa-trash-alt" ></i></a></th>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <a href="/class/create" class="btn btn-sm btn-primary">Cadastrar <i class="fas fa-plus"></i></a>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>